body, html {
  margin: 0;
	overflow: hidden;
}

.c-header {
  background: #BF29EC;
}
.c-hero-animation__static:hover a
{
	color: #fff;
}
.c-hero-animation__static a
{
	text-decoration: none;
 background-color: #222;
	color: #fff;
}
.c-hero-animation {
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-size: 200px;
  line-height: 190px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  color: #fff;
  background-color: #222;
  overflow: hidden;
  cursor: pointer;
}

.c-hero-animation p {
  margin: 0;
  padding: 0;
}

.c-hero-animation__dynamic,
.c-hero-animation__dynamic p {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all ease 0.7s;
}

.c-hero-animation__dynamic {
  background-color: #BF29EC;
  color: #222;
  overflow: hidden;
  display: inline-block;
}

.c-hero-animation:hover .c-hero-animation__dynamic {
  transform: translateX(100%);
}

.c-hero-animation:hover .c-hero-animation__dynamic p {
  transform: translateX(-100%);
}

/*************************************************/
/************* LETTER ANIMATION HOVER ************/
/* Thanks to https://codepen.io/nikolamitic/pen/vpNoNq */